---
layout: default
title: Software architecture catalog and development blog
---

<div class="home">

  <h1 class="page-heading">Software architecture & development blog</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% assign index_modulo = forloop.index | modulo: 2 %}
      {% if post.categories contains "news" %}
      <li>
        <aside>
          <div class="post-author">
              <a href="{{ site.contributors[post.authors.first].siteUrl }}" target="_blank">
              {% unless site.contributors[post.authors.first].avatarUrl contains "/img/" %}
              <img src="{{ site.contributors[post.authors.first].avatarUrl }}&s=30">
              {% endunless %}
              {% if site.contributors[post.authors.first].avatarUrl contains "/img/" %}
              <img class="avatar-30" src="{{ site.contributors[post.authors.first].avatarUrl }}">
              {% endif %}
              <span class="post-author-name">{{post.authors.first}}</span>
            </a>
          </div>
          <div>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl | replace: '.html', '' }}">{{ post.title }}</a>
            </h2>
            <a class="disqus-comment-count" data-disqus-identifier="{{ post.id }}" href="{{ post.url }}#disqus_thread"></a> 
          </div>
        </aside>
        <section class="post-brief"> 
          <div class="post-content">{{ post.content | truncatewords: 80 }}</div>
          <a class="post-read-full-button" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        </section>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
<script id="dsq-count-scr" src="//designpatternninja.disqus.com/count.js" async></script>