<!DOCTYPE html>
<html>

  {% include head.html %}

  <body ng-app="app" ng-controller="MasterController as master">

    {% include header.html %}

    <div class="page-content">
      <div class="content-wrapper">
        <aside id="quickLaunch">
            <section id="latestNews">
                  <h3><md-icon md-font-icon="update" aria-label="update">update</md-icon>Latest headlines</h3>
                  <ul class="post-list">
                  {% for post in site.posts limit:5 %}
                    {% assign index_modulo = forloop.index | modulo: 2 %}
                    {% if post.categories contains "news" %}
                    <li>
                      <aside>
                        <div class="post-author">
                            <a href="{{ site.contributors[post.authors.first].siteUrl }}" target="_blank">
                            {% unless site.contributors[post.authors.first].avatarUrl contains "/img/" %}
                            <img src="{{ site.contributors[post.authors.first].avatarUrl }}&s=30">
                            {% endunless %}
                            {% if site.contributors[post.authors.first].avatarUrl contains "/img/" %}
                            <img class="avatar-30" src="{{ site.contributors[post.authors.first].avatarUrl }}">
                            {% endif %}
                            <span class="post-author-name">{{post.authors.first}}</span>
                          </a>
                        </div>
                        <div>
                          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                          <h2>
                            <a class="post-link" href="{{ post.url | prepend: site.baseurl | replace: '.html', '' }}">{{ post.title }}</a>
                          </h2>
                        </div>
                      </aside>
                    </li>
                    {% endif %}
                  {% endfor %}
                  </ul>
            </section>
            <section id="latestDesignPatterns">
                <h3><md-icon md-font-icon="alarm_on" aria-label="alarm_on">alarm_on</md-icon>Latest patterns &amp; anti-patterns</h3>
                <ol class="design-pattern-list">
                {% assign patterns = "" | split,"" %}

                {% for page in site.pages %}
                {% if page.categories contains "design-pattern" or page.categories contains "anti-pattern" %}
                {% assign patterns = patterns | push:page %}
                {% endif %}
                {% endfor %}

                {% assign sortedPages = patterns | sort:"date" | reverse %}

                {% for post in sortedPages limit:5 %}
                <li ng-class="{ 'selected': master.currentPath.indexOf('{{ post.title | slugify }}') > -1 }">
                   <a href="{{ post.url | replace:'.html','' | prepend: site.baseurl }}" title="{{ post.title }}">
                      <div class="md-list-item-text">
                         <h4>{{ post.title }}</h4>
                         <time>{{ post.date | date: "%b %-d, %Y" }}</time>
                         <aside>
                            <ul class="tags">
                               {% for tag in post.categories %}
                               {% unless tag == "design-pattern" %}
                               {% unless tag == "anti-pattern" %}
                               <li>{{tag}}</li>
                               {% endunless %}
                               {% endunless %}
                               {% endfor %}
                            </ul>
                         </aside>
                      </div>
                   </a>
                </li>
                {% endfor %}
             </ol>
            </section>
        </aside>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>

</html> 