<!DOCTYPE html>
<html>

  {% include head.html %}

  <body ng-app="app" ng-controller="MasterController as master">

    {% include header.html %}

    <div class="page-content">
      <nav id="sideAppMenu">
        <h1 ng-bind="master.hello"></h1>
        <md-tabs md-no-pagination md-dynamic-height md-border-bottom md-selected="master.sideAppMenuSelectedTabIndex">
          <md-tab label="News">
            <md-content id="tabNews">
            {% for post in site.posts %}
            {% if post.categories contains "news" %}
            <ol>
              <li>
                <div class="post-author">
                  <a href="{{ site.contributors[post.authors.first].siteUrl }}" target="_blank">
                  {% unless site.contributors[post.authors.first].avatarUrl contains "/img/" %}
                  <img src="{{ site.contributors[post.authors.first].avatarUrl }}&s=30">
                  {% endunless %}
                  {% if site.contributors[post.authors.first].avatarUrl contains "/img/" %}
                  <img class="avatar-30" src="{{ site.contributors[post.authors.first].avatarUrl }}">
                  {% endif %}
                </a>
                </div>
                <div class="post-info">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <time class="post-date">{{ post.date | date: "%b %-d, %Y" }}</time>
                </div>
              </li>
            </ol>
            {% endif %}
            {% endfor %}
            </md-content>
          </md-tab>


                {% for post in site.posts %}
                {% unless post.categories contains "news" %}
                {% unless post.categories contains "anti-pattern" %}
                {% increment designPatternCount %}
                {% endunless %}
                {% endunless %}
                {% endfor %}

                {% for post in site.posts %}
                {% unless post.categories contains "news" %}
                {% if post.categories contains "anti-pattern" %}
                {% increment antiPatternCount %}
                {% endif %}
                {% endunless %}
                {% endfor %}

          <md-tab id="tabDesignPatterns" label="Patterns ({{ designPatternCount }})">
            <section id="tabDesignPatterns">
            {% for mainTag in site.mainTags %}
            {% assign categoryCount = 0 %}
            {% for post in site.posts %}
              {% unless post.categories contains "news" %}
              {% unless post.categories contains "anti-pattern" %}
              {% if post.categories contains mainTag %}
              {% assign categoryCount = categoryCount | plus: 1 %}
              {% endif %}
              {% endunless %}
              {% endunless %}
            {% endfor %}

              {% unless categoryCount == 0 %}
              <h3>{{mainTag}} ({{categoryCount}})</h3>
              <ol class="design-pattern-list">
                {% for post in site.posts %}

                  {% unless post.categories contains "news" %}
                  {% unless post.categories contains "anti-pattern" %}
                  {% if post.categories contains mainTag %}
                  <li ng-class="{ 'selected': master.currentPath.indexOf('{{ post.title | slugify }}') > -1 }">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                    <div class="md-list-item-text">
                      <h4>{{ post.title }}</h4>
                        <aside>
                          <ul class="tags">
                              {% for tag in post.categories %}
                              {% unless tag == mainTag %}
                              <li>{{tag}}</li>
                              {% endunless %}
                              {% endfor %}
                          </ul>
                      </aside>
                    </div>
                    </a>
                  </li>
                  {% endif %}
                  {% endunless %}
                  {% endunless %}
                {% endfor %}
                </ol>
            {% endunless %}
            {% endfor %}
            </section>
          </md-tab>

          <md-tab id="tabAntiPatterns" label="Anti-patterns ({{ antiPatternCount }})">
            <section id="tabAntiDesignPatterns">

            {% for mainTag in site.mainTags %}

                {% assign categoryCount = 0 %}
            {% for post in site.posts %}
              {% unless post.categories contains "news" %}
              {% if post.categories contains "anti-pattern" %}
              {% if post.categories contains mainTag %}
              {% assign categoryCount = categoryCount | plus: 1 %}
              {% endif %}
              {% endif %}
              {% endunless %}
            {% endfor %}

            {% unless categoryCount == 0 %}
              <h3>{{mainTag}} ({{categoryCount}})</h3>
              <ol class="design-pattern-list">
                {% for post in site.posts %}

                  {% unless post.categories contains "news" %}
                  {% if post.categories contains mainTag %}
                  {% if post.categories contains "anti-pattern" %}
                  <li ng-class="{ 'selected': master.currentPath.indexOf('{{ post.title | slugify }}') > -1 }">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                    <div class="md-list-item-text">
                      <h4>{{ post.title }}</h4>
                        <aside>
                          <ul class="tags">
                              {% for tag in post.categories %}
                              {% unless tag == mainTag %}
                              {% unless tag == "anti-pattern" %}
                              <li>{{tag}}</li>
                              {% endunless %}
                              {% endunless %}
                              {% endfor %}
                          </ul>
                      </aside>
                    </div>
                    </a>
                  </li>
                  {% endif %}
                  {% endif %}
                  {% endunless %}

                {% endfor %}
                </ol>
                {% endunless %}
            {% endfor %}
            </section>
          </md-tab>
        </md-tabs>
      </nav>
      <div class="content-wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
