---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting" ng-init="postTags['{{page.title}}'] = [{% for tag in page.categories %} {{ tag | prepend: "'" | append: "'," }} {% endfor %}]" ng-init="readOnly = true">
<a target="_blank" href="https://github.com/designpatternninja/designpatternninja.github.io/tree/master/_posts/{{page.date|date: "%Y-%m-%d"}}-{{page.slug }}.markdown"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

       <aside>
            <ul class="tags">
                {% for tag in page.categories %}
                <li>{{tag}}</li>
                {% endfor %}
            </ul>
        </aside>

    <table class="post-metadata">
    	<thead>
    		<tr>
    		<td>Field</td>
    		<td>Content</td>
    	</tr>
    	</thead>
    	<tr>
    		<td itemprop="author" itemscope itemtype="http://schema.org/Person">Original author</td>
    		<td>
                {% unless site.contributors[page.authors.first].avatarUrl contains "/img/" %}
                <img src="{{ site.contributors[page.authors.first].avatarUrl }}&s=30">
                {% endunless %}
                {% if site.contributors[page.authors.first].avatarUrl contains "/img/" %}
                <img class="avatar-30" src="{{ site.contributors[page.authors.first].avatarUrl }}">
                {% endif %}
                <a href="{{ site.contributors[page.authors.first].siteUrl }}" target="_blank">{{ site.contributors[page.authors.first].fullName }}</a>

            </td>
    	</tr>
    	<tr>
        {% if page.authors.size > 1 %}
    	<tr>
    		<td>All authors</td>
    		<td>
    			<ul class="post-authors">
    				{% for author in page.authors %} 
                    {% unless author == page.authors.first %}
    					<li>
                            <img src="{{ site.contributors[author].avatarUrl }}&s=30">
                            <a href="{{ site.contributors[author].siteUrl }}" target="_blank">{{ site.contributors[author].fullName }}</a>
                        </li>
                    {% endunless %}
					{% endfor %}
    			</ul>
    		</td>
    	</tr>
        {% endif %}

    	<tr>
    		<td>Creation date</td>
    		<td><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></td>
    	</tr>

    	<tr>
    		<td>Modified date</td>
    		<td><time datetime="{{ page.modifiedDate | date_to_xmlschema }}" itemprop="dateModified">{{ page.modifiedDate | date: "%b %-d, %Y" }}</time></td>
    	</tr>
    </table>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
